{% extends 'base.html' %}

{% block header_text %}Your To-Do list{% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}

{% block table %}
  <h2 id="id_list_owner">{{ list.owner.email }}</h2>
  <table id="id_list_table" class="table">
    {% for item in list.item_set.all %}
      <tr><td id="id_list_row">{{ forloop.counter }}: {{ item.text }}</td></tr>
    {% endfor %}
  </table>
{% endblock %}

{% block extra_content %}

  <div>
    <p><br>This list is shared with:</p>
    <ul>
      {% for email_shared_with in list.shared_with.all %}
        <li class="list-sharee">{{ email_shared_with.email }}</li>
      {% endfor %}
    </ul>
  </div>


  <div class="pt-5">
    <form method="POST" action="{% url 'share_list' list.id %}">
      <label>
        Share with:
        <input type="text" name="sharee" placeholder="your-friend@example.com">
      </label>
      {% csrf_token %}
    </form>
  </div>


{% endblock %}